{% extends "layout.html"%}
{% block content%}
<div class="container is-flex">
<div class="columns is-centered is-vcentered is-mobile">
    <div class="column is-full">
        <a href="/addeditorial" class="button is-primary">Nuevo editorial</a>
        <div class="card has-text-centered is-wide">
            <header class="card-header">
              <p class="card-header-title">
                Lista de editoriales
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th>Nombre del editorial</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for editorial in editoriales %}
                      <tr>
                        <td>{{editorial.nombre_editorial}}</td>
                        <td><a href="/editeditorial/{{editorial.id_editorial}}" class="button is-warning is-small modal-button" data-target="modal" aria-haspopup="true">Modificar</a> <a href="/deleteeditorial/{{editorial.id_editorial}}" class="button is-danger is-small modal-button" data-target="modal" aria-haspopup="true">Eliminar</a></td>
                      </tr>
                      {% endfor %}
                      
        
                    </tbody>
                  </table>
              </div>
            </div>
        
          </div>
    </div>
</div>
  </div>

{% endblock %}