{% extends "layout.html" %}
{% block content%}
<div class="container has-text-centered">

                

    <div class="columns is-vcentered">
        <div class="column is-5">
            <figure class="image is-4by3">
                <img src="https://picsum.photos/800/600/?random" alt="Description">
            </figure>
        </div>
        <div class="column is-6 is-offset-1">
            <h1 class="title is-2">
                Biblioteca SYS
            </h1>
            <h2 class="subtitle is-4">
                ¡Servicio para guardar información de libros!
            </h2>
            <br>
        </div>
    </div>

</div>
{% endblock %}