{% extends "layout.html"%}
{% block content%}
<div class="container is-flex">
<div class="columns is-centered is-vcentered is-mobile">
    <div class="column is-full">
        <a href="/addautor" class="button is-primary">Nuevo autor</a>
        <div class="card has-text-centered is-wide">
            <header class="card-header">
              <p class="card-header-title">
                Lista de autores
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th>Nombre autor</th>
                        <th>Fecha de nacimientor</th>
                        <th>Nacionalidad</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for autor in autores %}
                      <tr>
                        <td>{{autor.nombre_autor}}</td>
                        <td>{{autor.fecha_nac}}</td>
                        <td>{{autor.nacionaliad}}</td>
                        <td><a href="/editautor/{{autor.id_autor}}" class="button is-warning is-small modal-button" data-target="modal" aria-haspopup="true">Modificar</a> <a href="/deleteautor/{{autor.id_autor}}" class="button is-danger is-small modal-button" data-target="modal" aria-haspopup="true">Eliminar</a></td>
                      </tr>
                      {% endfor %}
                      
        
                    </tbody>
                  </table>
              </div>
            </div>
        
          </div>
    </div>
</div>
  </div>

{% endblock %}