{% extends "layout.html"%}
{% block content%}
<div class="container">


    <div class="columns is-centered">
        <div class="column is-half">
    
    
    <form class="card" method="POST" action="/edit_autor">
        <input type="hidden" name="idautor" value="{{autores.id_autor}}">
        <div class="field">
          <label class="label">Nombre del autor</label>
          <div class="control">
            <input name="nombreAutor" class="input" type="text" value="{{autores.nombre_autor}}">
          </div>
        </div>

        <div class="field">
            <label class="label">Fecha de nacimiento</label>
            <div class="control">
              <input name="FeNac" class="input" type="date" value="{{autores.fecha_nac}}">
            </div>
          </div>

          <div class="field">
            <label class="label">Nacionalidad</label>
            <div class="control">
              <input name="nacionalidad" class="input" type="text" value="{{autores.nacionaliad}}">
            </div>
          </div>

        
    
    
        <div class="field">
            <p class="control is-expanded">
                <input class="button is-primary" type="submit" value="Guardar cambios">
            </p>
        </div>
      </form>
        </div>
    </div>
    </div>
{% endblock %}